// https://niri-wm.github.io/niri/Configuration%3A-Key-Bindings.html

binds {
    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Change workspace/column
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-to-workspace-down; }
    Mod+Shift+K { move-window-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Alt+H { move-column-to-monitor-left; }
    Mod+Alt+J { move-workspace-down; }
    Mod+Alt+K { move-workspace-up; }
    Mod+Alt+L { move-column-to-monitor-right; }

    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-column-right; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }

    Mod+Home  { focus-column-first; }
    Mod+End   { focus-column-last; }

    Mod+M { maximize-column; }
    Mod+C { center-visible-columns; }
    Mod+F { toggle-window-floating; }
    Mod+G { toggle-column-tabbed-display; }
    Mod+W { close-window; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // Move window to workspace/column
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }
    Mod+Shift+0 { move-window-to-workspace 10; }

    // Super+Tab { focus-workspace-previous; }
    // Alt+Tab repeat=false { toggle-overview; }

    // Screenshot
    Print       { screenshot; }
    Alt+Print   { screenshot-screen; }
    Shift+Print { screenshot-window; }
    Super+Print { spawn "flameshot" "gui"; }

    Mod+Escape        { spawn "wlogout"; }
    Mod+Shift+Escape  { quit skip-confirmation=true; }

    // Command Launcher -- Vicinae | Rofi [alt]
    //Mod+Space         { spawn "vicinae" "toggle"; }
    //Mod+Semicolon     { spawn "vicinae" "vicinae://extensions/vicinae/vicinae/search-emojis"; }
    //Mod+V             { spawn "vicinae" "vicinae://extensions/vicinae/clipboard/history"; }

    Mod+Alt+Space     { spawn "rofi" "-show" "drun"; }
    Mod+Alt+Semicolon { spawn "rofimoji"; }
    Mod+Alt+V         { spawn "rofi" "-modi" "clipboard:~/.config/hypr/scripts/cliphist-rofi-img" "-show" "clipboard" "-show-icons"; }

    // General application
    Mod+Q      { spawn "zen-browser"; }
    Mod+Alt+Q  { spawn "firefox"; }
    Mod+Return { spawn "kitty"; }

    // Multimedia keys
    //XF86AudioRaiseVolume     allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+ -l 3.0"; }
    //XF86AudioLowerVolume     allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%- -l 3.0"; }
    //XF86AudioMute            allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }

    //Alt+XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 2%+ -l 3.0"; }
    //Alt+XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 2%- -l 3.0"; }
    //XF86AudioMicMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    //XF86MonBrightnessUp      allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    //XF86MonBrightnessDown    allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

